body {
  margin: 0;
  font-family: "Yekan Bakh" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Yekan Bakh" !important;
}

@font-face {
  font-family: 'Yekan Bakh';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/YekanBakh/Yekan Bakh EN 08 Fat.woff'); /* IE9 Compat Modes */
  src: url('./assets/fonts/YekanBakh/Yekan Bakh EN 04 Regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/YekanBakh/Yekan Bakh EN 05 Medium.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/YekanBakh/Yekan Bakh EN 06 Bold.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/YekanBakh/Yekan Bakh EN 07 Heavy.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/YekanBakh/Yekan Bakh EN 03 Light.woff') format('woff'); /* Modern Browsers */
}

body {
  font-family: 'Yekan Bakh';
}
html {
  font-family: 'Yekan Bakh';
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}